<nav class="navbar navbar-default navbar-fixed-top with-slicknav">
				
    <div class="container">
            
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home:home'  %}">CALIFORTRVAEL</a>
        </div>
            
        <div id="navbar" class="collapse navbar-collapse navbar-arrow pull-left">
        
            <ul class="nav navbar-nav" id="responsive-menu">
                <li>
                    <a href="#">Home</a>
                    <ul>
                        <li><a href="index.html">Home Page - 1</a></li>
                        <li><a href="index-2.html">Home Page - 2 (select form for no. of people)</a></li>
                        <li><a href="index-3.html">Home Page - 3 (tripadvisor)</a></li>
                        <li><a href="index-4.html">Home Page - 4 (banner slider search 1)</a></li>
                        <li><a href="index-5.html">Home Page - 5 (banner slider search 2)</a></li>
                        <li><a href="index-6.html">Home Page - 6 (last minute deals)</a></li>
                        <li><a href="index-7.html">Home Page - 7 (no rating score for hotel item)</a></li>
                    </ul>
                </li>
                <li>
                    <a href="result-page-list.html">Hotels</a>
                    <ul>
                        <li>
                            <a href="result-page-grid.html">Result - Grid</a>
                            <ul>
                                <li><a href="result-page-grid.html">Result - Grid</a></li>
                                <li><a href="result-page-grid-tripadvisor.html">Result - Grid (tripadvisor)</a></li>
                                <li><a href="result-page-grid-right-sidebar.html">Result - Grid (right sidebar)</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="result-page-list.html">Result - List</a>
                            <ul>
                                <li><a href="result-page-list.html">Result - List</a></li> 
                                <li><a href="result-page-list-tripadvisor.html">Result - List (tripadvisor)</a></li> 
                                <li><a href="result-page-list-right-sidebar.html">Result - List (right sidebar)</a></li> 
                            </ul>
                        </li>
                        <li>
                            <a href="result-map.html">Result - Map</a>
                            <ul>
                                <li><a href="result-map-alt-02.html">Result - Map - Alternative 2</a></li>
                                <li><a href="result-map-alt-03.html">Result - Map - Alternative 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="detail-page.html">Detail Page</a>
                            <ul>
                                <li><a href="detail-page.html">Detail Page</a></li>
                                <li><a href="detail-page-tripadvisor.html">Detail Page - 2 (tripadvisor)</a></li>
                                <li><a href="detail-page-tab.html">Detail Page - Tab</a></li>
                                <li><a href="detail-page-room-type-alt-02.html">Detail Page - Room Type Alternative 02</a></li>
                                <li><a href="detail-page-room-type-alt-03.html">Detail Page - Room Type Alternative 03</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="payment.html">Payment</a>
                            <ul>
                                <li><a href="payment.html">Payment</a></li>
                                <li><a href="payment-2.html">Payment - 2 (alt. booking summary)</a></li>
                            </ul>
                        </li>
                        <li><a href="confirmation.html">Confirmation</a></li>
                        <li><a href="list-property.html">List Your Property</a></li>
                    </ul>
                </li>
                <li class="mega-menu hidden-sm hidden-xs">
                    <a href="destinations.html">Destinations</a>
                    <ul>
                        <li class="clearfix">
                            <div class="container">
                            
                                <div class="vertical-tab-style-01-wrapper">
                                
                                    <div class="row">

                                        <div class="col-xs-12 col-sm-3 col-md-3">
                                        
                                            <ul class="tab-nav">
                                                <li class="active"><a href="#destination-tab-01" data-toggle="tab">Asia</a></li>
                                                <li><a href="#destination-tab-02" data-toggle="tab">Europe</a></li>
                                                <li><a href="#destination-tab-03" data-toggle="tab">America</a></li>
                                                <li><a href="#destination-tab-04" data-toggle="tab">Latin America</a></li>
                                                <li><a href="#destination-tab-05" data-toggle="tab">Africa</a></li>
                                                <li><a href="#destination-tab-06" data-toggle="tab">Oceana</a></li>
                                            </ul>
                                            
                                        </div>
                                        
                                        <div class="col-xs-12 col-sm-9 col-md-9">
                                        
                                            <div class="tab-content" >
                                                
                                                <div class="tab-pane fade in active" id="destination-tab-01">
                                                
                                                    <div class="tab-inner">

                                                        <div class="destination-list-wrapper">
                                                        
                                                            <ul class="destination-list clearfix">
                                                            
                                                                <li><a href="destination.html">Malaysia</a></li>
                                                                <li><a href="destination.html">Thailand</a></li>
                                                                <li><a href="destination.html">Singapore</a></li>
                                                                <li><a href="destination.html">Indonesia</a></li>
                                                                <li><a href="destination.html">Maldives</a></li>
                                                                <li><a href="destination.html">China</a></li>
                                                                <li><a href="destination.html">Pakistan</a></li>
                                                                <li><a href="destination.html">Mongolia</a></li>
                                                                <li><a href="destination.html">Lebanon</a></li>
                                                                <li><a href="destination.html">India</a></li>
                                                                <li><a href="destination.html">Cambodia</a></li>
                                                                <li><a href="destination.html">Bangladesh</a></li>
                                                                <li><a href="destination.html">Brunei</a></li>
                                                                <li><a href="destination.html">South Korea</a></li>
                                                                <li><a href="destination.html">Philippines</a></li>
                                                                <li><a href="destination.html">Sri Lanka</a></li>
                                                                <li><a href="destination.html">Malaysia</a></li>
                                                                <li><a href="destination.html">Thailand</a></li>
                                                                <li><a href="destination.html">Singapore</a></li>
                                                                <li><a href="destination.html">Indonesia</a></li>
                                                                <li><a href="destination.html">Maldives</a></li>
                                                                <li><a href="destination.html">China</a></li>
                                                                <li><a href="destination.html">Pakistan</a></li>
                                                                <li><a href="destination.html">Mongolia</a></li>
                                                                <li><a href="destination.html">Lebanon</a></li>
                                                                <li><a href="destination.html">South Korea</a></li>
                                                                <li><a href="destination.html">Philippines</a></li>
                                                                <li><a href="destination.html">Sri Lanka</a></li>
                                                                <li><a href="destination.html">Malaysia</a></li>
                                                                <li><a href="destination.html">Thailand</a></li>
                                                                <li><a href="destination.html">Singapore</a></li>
                                                                <li><a href="destination.html">Indonesia</a></li>
                                                                <li><a href="destination.html">Maldives</a></li>
                                                                <li><a href="destination.html">China</a></li>
                                                                <li><a href="destination.html">Pakistan</a></li>
                                                                <li><a href="destination.html">Mongolia</a></li>
                                                                <li><a href="destination.html">Lebanon</a></li>
                                                                <li><a href="destination.html">Brunei</a></li>
                                                                <li><a href="destination.html">South Korea</a></li>
                                                                <li><a href="destination.html">Philippines</a></li>
                                                                <li><a href="destination.html">India</a></li>
                                                                <li><a href="destination.html">Cambodia</a></li>
                                                                <li><a href="destination.html">Bangladesh</a></li>
                                                                <li><a href="destination.html">Brunei</a></li>
                                                                <li><a href="destination.html">South Korea</a></li>
                                                                <li><a href="destination.html">Philippines</a></li>
                                                                <li><a href="destination.html">Sri Lanka</a></li>
                                                                <li><a href="destination.html">Malaysia</a></li>
                                                                <li><a href="destination.html">Thailand</a></li>
                                                                <li class="more-link"><a href="destinations.html">More destinations <i class="fa fa-arrow-circle-right"></i></a></li>
                                                                
                                                            </ul>
                                                            
                                                        </div>

                                                    </div>
                                                    
                                                </div>
                                                
                                                <div class="tab-pane fade" id="destination-tab-02">
                                                    
                                                    <div class="tab-inner">

                                                        <div class="destination-list-wrapper">
                                                        
                                                            <ul class="destination-list clearfix">
                                                            
                                                                <li><a href="destination.html">Albania</a></li>
                                                                <li><a href="destination.html">Austria</a></li>
                                                                <li><a href="destination.html">Belgium</a></li>
                                                                <li><a href="destination.html">Croatia</a></li>
                                                                <li><a href="destination.html">Cyprus</a></li>
                                                                <li><a href="destination.html">Czech Republic</a></li>
                                                                <li><a href="destination.html">Denmark</a></li>
                                                                <li><a href="destination.html">Finland</a></li>
                                                                <li><a href="destination.html">France</a></li>
                                                                <li><a href="destination.html">Georgia</a></li>
                                                                <li><a href="destination.html">Germany</a></li>
                                                                <li><a href="destination.html">Greece</a></li>
                                                                <li><a href="destination.html">Hungary</a></li>
                                                                <li><a href="destination.html">Iceland</a></li>
                                                                <li><a href="destination.html">Ireland</a></li>
                                                                <li><a href="destination.html">Italy</a></li>
                                                                <li><a href="destination.html">Netherlands</a></li>
                                                                <li><a href="destination.html">Norway</a></li>
                                                                <li><a href="destination.html">Albania</a></li>
                                                                <li><a href="destination.html">Austria</a></li>
                                                                <li><a href="destination.html">Belgium</a></li>
                                                                <li><a href="destination.html">Croatia</a></li>
                                                                <li><a href="destination.html">Cyprus</a></li>
                                                                <li><a href="destination.html">Czech Republic</a></li>
                                                                <li><a href="destination.html">Denmark</a></li>
                                                                <li><a href="destination.html">Finland</a></li>
                                                                <li><a href="destination.html">France</a></li>
                                                                <li><a href="destination.html">Georgia</a></li>
                                                                <li><a href="destination.html">Germany</a></li>
                                                                <li><a href="destination.html">Greece</a></li>
                                                                <li><a href="destination.html">Hungary</a></li>
                                                                <li><a href="destination.html">Iceland</a></li>
                                                                <li><a href="destination.html">Ireland</a></li>
                                                                <li><a href="destination.html">Italy</a></li>
                                                                <li><a href="destination.html">Netherlands</a></li>
                                                                <li><a href="destination.html">Norway</a></li>
                                                                <li class="more-link"><a href="destinations.html">More destinations <i class="fa fa-arrow-circle-right"></i></a></li>
                                                                
                                                            </ul>
                                                            
                                                        </div>

                                                    </div>
                                                </div>
                                                
                                                <div class="tab-pane fade" id="destination-tab-03">

                                                    <div class="tab-inner">
                                                        
                                                        <div class="destination-list-wrapper">
                                                        
                                                            <ul class="destination-list clearfix">
                                                            
                                                                <li><a href="destination.html">Maldives</a></li>
                                                                <li><a href="destination.html">China</a></li>
                                                                <li><a href="destination.html">Pakistan</a></li>
                                                                <li><a href="destination.html">Mongolia</a></li>
                                                                <li><a href="destination.html">Lebanon</a></li>
                                                                <li><a href="destination.html">India</a></li>
                                                                <li><a href="destination.html">Cambodia</a></li>
                                                                <li><a href="destination.html">Bangladesh</a></li>
                                                                <li><a href="destination.html">Brunei</a></li>
                                                                <li><a href="destination.html">South Korea</a></li>
                                                                <li><a href="destination.html">Sri Lanka</a></li>
                                                                <li><a href="destination.html">Malaysia</a></li>
                                                                <li><a href="destination.html">Thailand</a></li>
                                                                <li><a href="destination.html">Singapore</a></li>
                                                                <li><a href="destination.html">Indonesia</a></li>
                                                                <li><a href="destination.html">Maldives</a></li>
                                                                <li><a href="destination.html">China</a></li>
                                                                <li><a href="destination.html">Pakistan</a></li>
                                                                <li><a href="destination.html">Mongolia</a></li>
                                                                <li><a href="destination.html">Lebanon</a></li>
                                                                <li><a href="destination.html">South Korea</a></li>
                                                                <li><a href="destination.html">Philippines</a></li>
                                                                <li><a href="destination.html">Sri Lanka</a></li>
                                                                <li><a href="destination.html">Malaysia</a></li>
                                                                <li><a href="destination.html">Thailand</a></li>
                                                                <li><a href="destination.html">Singapore</a></li>
                                                                <li><a href="destination.html">Indonesia</a></li>
                                                                <li><a href="destination.html">Maldives</a></li>
                                                                <li><a href="destination.html">China</a></li>
                                                                <li><a href="destination.html">Pakistan</a></li>
                                                                <li><a href="destination.html">Mongolia</a></li>
                                                                <li><a href="destination.html">Lebanon</a></li>
                                                                <li><a href="destination.html">Brunei</a></li>
                                                                <li><a href="destination.html">South Korea</a></li>
                                                                <li><a href="destination.html">Philippines</a></li>
                                                                <li><a href="destination.html">India</a></li>
                                                                <li><a href="destination.html">Cambodia</a></li>
                                                                <li><a href="destination.html">Bangladesh</a></li>
                                                                <li><a href="destination.html">Brunei</a></li>
                                                                <li><a href="destination.html">South Korea</a></li>
                                                                <li><a href="destination.html">Philippines</a></li>
                                                                <li><a href="destination.html">Sri Lanka</a></li>
                                                                <li><a href="destination.html">Malaysia</a></li>
                                                                <li><a href="destination.html">Thailand</a></li>
                                                                <li class="more-link"><a href="destinations.html">More destinations <i class="fa fa-arrow-circle-right"></i></a></li>
                                                                
                                                            </ul>
                                                            
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="tab-pane fade" id="destination-tab-04">

                                                    <div class="tab-inner">
                                                        
                                                        <div class="destination-list-wrapper">
                                                        
                                                            <ul class="destination-list clearfix">
                                                                <li><a href="destination.html">France</a></li>
                                                                <li><a href="destination.html">Georgia</a></li>
                                                                <li><a href="destination.html">Germany</a></li>
                                                                <li><a href="destination.html">Greece</a></li>
                                                                <li><a href="destination.html">Hungary</a></li>
                                                                <li><a href="destination.html">Iceland</a></li>
                                                                <li><a href="destination.html">Ireland</a></li>
                                                                <li><a href="destination.html">Italy</a></li>
                                                                <li><a href="destination.html">Netherlands</a></li>
                                                                <li><a href="destination.html">Norway</a></li>
                                                                <li><a href="destination.html">Albania</a></li>
                                                                <li><a href="destination.html">Austria</a></li>
                                                                <li><a href="destination.html">Belgium</a></li>
                                                                <li><a href="destination.html">Croatia</a></li>
                                                                <li><a href="destination.html">Cyprus</a></li>
                                                                <li><a href="destination.html">Czech Republic</a></li>
                                                                <li><a href="destination.html">Denmark</a></li>
                                                                <li><a href="destination.html">Finland</a></li>
                                                                <li><a href="destination.html">France</a></li>
                                                                <li><a href="destination.html">Georgia</a></li>
                                                                <li><a href="destination.html">Germany</a></li>
                                                                <li><a href="destination.html">Greece</a></li>
                                                                <li><a href="destination.html">Hungary</a></li>
                                                                <li><a href="destination.html">Iceland</a></li>
                                                                <li><a href="destination.html">Ireland</a></li>
                                                                <li><a href="destination.html">Italy</a></li>
                                                                <li><a href="destination.html">Netherlands</a></li>
                                                                <li><a href="destination.html">Norway</a></li>
                                                                <li><a href="destination.html">Albania</a></li>
                                                                <li><a href="destination.html">Austria</a></li>
                                                                <li><a href="destination.html">Belgium</a></li>
                                                                <li><a href="destination.html">Croatia</a></li>
                                                                <li><a href="destination.html">Cyprus</a></li>
                                                                <li><a href="destination.html">Czech Republic</a></li>
                                                                <li><a href="destination.html">Denmark</a></li>
                                                                <li><a href="destination.html">Finland</a></li>
                                                                <li class="more-link"><a href="destinations.html">More destinations <i class="fa fa-arrow-circle-right"></i></a></li>
                                                                
                                                            </ul>
                                                            
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="tab-pane fade" id="destination-tab-05">

                                                    <div class="tab-inner">
                                                        
                                                        <div class="destination-list-wrapper">
                                                        
                                                            <ul class="destination-list clearfix">
                                                            
                                                                <li><a href="destination.html">Malaysia</a></li>
                                                                <li><a href="destination.html">Thailand</a></li>
                                                                <li><a href="destination.html">Singapore</a></li>
                                                                <li><a href="destination.html">Indonesia</a></li>
                                                                <li><a href="destination.html">Maldives</a></li>
                                                                <li><a href="destination.html">China</a></li>
                                                                <li><a href="destination.html">Pakistan</a></li>
                                                                <li><a href="destination.html">Mongolia</a></li>
                                                                <li><a href="destination.html">Lebanon</a></li>
                                                                <li><a href="destination.html">India</a></li>
                                                                <li><a href="destination.html">Cambodia</a></li>
                                                                <li><a href="destination.html">Bangladesh</a></li>
                                                                <li><a href="destination.html">Brunei</a></li>
                                                                <li><a href="destination.html">South Korea</a></li>
                                                                <li><a href="destination.html">Philippines</a></li>
                                                                <li><a href="destination.html">Sri Lanka</a></li>
                                                                <li><a href="destination.html">Malaysia</a></li>
                                                                <li><a href="destination.html">Thailand</a></li>
                                                                <li><a href="destination.html">Singapore</a></li>
                                                                <li><a href="destination.html">Indonesia</a></li>
                                                                <li><a href="destination.html">Maldives</a></li>
                                                                <li><a href="destination.html">China</a></li>
                                                                <li><a href="destination.html">Pakistan</a></li>
                                                                <li><a href="destination.html">Mongolia</a></li>
                                                                <li><a href="destination.html">Lebanon</a></li>
                                                                <li><a href="destination.html">South Korea</a></li>
                                                                <li><a href="destination.html">Philippines</a></li>
                                                                <li><a href="destination.html">Sri Lanka</a></li>
                                                                <li><a href="destination.html">Malaysia</a></li>
                                                                <li><a href="destination.html">Thailand</a></li>
                                                                <li><a href="destination.html">Singapore</a></li>
                                                                <li><a href="destination.html">Indonesia</a></li>
                                                                <li><a href="destination.html">Maldives</a></li>
                                                                <li><a href="destination.html">China</a></li>
                                                                <li><a href="destination.html">Pakistan</a></li>
                                                                <li><a href="destination.html">Mongolia</a></li>
                                                                <li><a href="destination.html">Lebanon</a></li>
                                                                <li><a href="destination.html">Brunei</a></li>
                                                                <li><a href="destination.html">South Korea</a></li>
                                                                <li><a href="destination.html">Philippines</a></li>
                                                                <li><a href="destination.html">India</a></li>
                                                                <li><a href="destination.html">Cambodia</a></li>
                                                                <li><a href="destination.html">Bangladesh</a></li>
                                                                <li><a href="destination.html">Brunei</a></li>
                                                                <li><a href="destination.html">South Korea</a></li>
                                                                <li><a href="destination.html">Philippines</a></li>
                                                                <li><a href="destination.html">Sri Lanka</a></li>
                                                                <li><a href="destination.html">Malaysia</a></li>
                                                                <li><a href="destination.html">Thailand</a></li>
                                                                <li class="more-link"><a href="destinations.html">More destinations <i class="fa fa-arrow-circle-right"></i></a></li>
                                                                
                                                            </ul>
                                                            
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="tab-pane fade" id="destination-tab-06">

                                                    <div class="tab-inner">
                                                        
                                                        <div class="destination-list-wrapper">
                                                        
                                                            <ul class="destination-list clearfix">
                                                            
                                                                <li><a href="destination.html">Thailand</a></li>
                                                                <li><a href="destination.html">Singapore</a></li>
                                                                <li><a href="destination.html">Indonesia</a></li>
                                                                <li><a href="destination.html">Maldives</a></li>
                                                                <li><a href="destination.html">China</a></li>
                                                                <li><a href="destination.html">Pakistan</a></li>
                                                                <li><a href="destination.html">Mongolia</a></li>
                                                                <li><a href="destination.html">Lebanon</a></li>
                                                                <li><a href="destination.html">India</a></li>
                                                                <li><a href="destination.html">Cambodia</a></li>
                                                                <li><a href="destination.html">Bangladesh</a></li>
                                                                <li><a href="destination.html">Brunei</a></li>
                                                                <li><a href="destination.html">South Korea</a></li>
                                                                <li><a href="destination.html">Philippines</a></li>
                                                                <li><a href="destination.html">Sri Lanka</a></li>
                                                                <li><a href="destination.html">Malaysia</a></li>
                                                                <li><a href="destination.html">Thailand</a></li>
                                                                <li><a href="destination.html">Singapore</a></li>
                                                                <li><a href="destination.html">Thailand</a></li>
                                                                <li><a href="destination.html">Singapore</a></li>
                                                                <li><a href="destination.html">Indonesia</a></li>
                                                                <li><a href="destination.html">Maldives</a></li>
                                                                <li><a href="destination.html">China</a></li>
                                                                <li><a href="destination.html">Pakistan</a></li>
                                                                <li><a href="destination.html">Mongolia</a></li>
                                                                <li><a href="destination.html">Lebanon</a></li>
                                                                <li><a href="destination.html">Brunei</a></li>
                                                                <li><a href="destination.html">South Korea</a></li>
                                                                <li><a href="destination.html">Philippines</a></li>
                                                                <li><a href="destination.html">India</a></li>
                                                                <li><a href="destination.html">Cambodia</a></li>
                                                                <li><a href="destination.html">Bangladesh</a></li>
                                                                <li><a href="destination.html">Brunei</a></li>
                                                                <li><a href="destination.html">South Korea</a></li>
                                                                <li><a href="destination.html">Philippines</a></li>
                                                                <li><a href="destination.html">Sri Lanka</a></li>
                                                                <li><a href="destination.html">Malaysia</a></li>
                                                                <li><a href="destination.html">Thailand</a></li>
                                                                <li class="more-link"><a href="destinations.html">More destinations <i class="fa fa-arrow-circle-right"></i></a></li>
                                                                
                                                            </ul>
                                                            
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                            
                                        </div>

                                    </div>
                                    
                                </div>

                            </div>
                        </li>
                    </ul>
                </li>
                <li class="visible-sm visible-xs">
                    <a href="destinations.html">Destinations</a>
                    <ul>
                        <li>
                            <a href="destinations.html">Asia</a>
                            <ul>				
                                <li><a href="destination.html">Malaysia</a></li>
                                <li><a href="destination.html">Thailand</a></li>
                                <li><a href="destination.html">Singapore</a></li>
                                <li><a href="destination.html">Indonesia</a></li>
                                <li><a href="destination.html">Maldives</a></li>
                                <li><a href="destination.html">China</a></li>
                                <li><a href="destination.html">Pakistan</a></li>
                                <li><a href="destination.html">Mongolia</a></li>
                                <li><a href="destination.html">Lebanon</a></li>
                                <li><a href="destination.html">India</a></li>
                                <li><a href="destination.html">Cambodia</a></li>
                                <li><a href="destination.html">Bangladesh</a></li>
                                <li><a href="destination.html">Brunei</a></li>
                                <li><a href="destination.html">South Korea</a></li>
                                <li><a href="destinations.html">More destinations <i class="fa fa-arrow-circle-right"></i></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="destinations.html">Europe</a>
                            <ul>	
                                <li><a href="destination-page.html">Albania</a></li>
                                <li><a href="destination-page.html">Austria</a></li>
                                <li><a href="destination-page.html">Belgium</a></li>
                                <li><a href="destination-page.html">Croatia</a></li>
                                <li><a href="destination-page.html">Cyprus</a></li>
                                <li><a href="destination-page.html">Czech Republic</a></li>
                                <li><a href="destination-page.html">Denmark</a></li>
                                <li><a href="destination-page.html">Finland</a></li>
                                <li><a href="destination-page.html">France</a></li>
                                <li><a href="destination-page.html">Georgia</a></li>
                                <li><a href="destination-page.html">Germany</a></li>
                                <li><a href="destination-page.html">Greece</a></li>
                                <li><a href="destination-page.html">Hungary</a></li>
                                <li><a href="destination-page.html">Iceland</a></li>
                                <li><a href="destinations.html">More destinations <i class="fa fa-arrow-circle-right"></i></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="destinations.html">America</a>
                        </li>
                        <li>
                            <a href="destinations.html">Latin America</a>
                        </li>
                        <li>
                            <a href="destinations.html">Africa</a>
                        </li>
                        <li>
                            <a href="destinations.html">Oceana</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Pages</a>
                    <ul>
                        <li>
                            <a href="#">Dashboard</a>
                             <ul>
                                <li><a href="dashboard-my-booking.html">My Bookings</a></li>
                                <li><a href="dashboard-message-list.html">Message List</a></li>
                                <li><a href="dashboard-message-list-detail.html">Message List Detail</a></li>
                                <li><a href="dashboard-message-list-toggle.html">Message List Toggle Style</a></li>
                                <li><a href="dashboard-profile.html">Profile</a></li>
                                <li><a href="dashboard-billing.html">Billing</a></li>
                                <li><a href="dashboard-user-pass.html">User &amp; Password</a></li>
                            </ul>
                        </li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li>
                            <a href="blog.html">Blog</a>
                            <ul>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                <li><a href="blog-single.html">Blog Single</a></li>
                                <li><a href="blog-single-left-sidebar.html">Blog Single Left Sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                        <li>
                            <a href="faq.html">Faq</a>
                            <ul>
                                <li><a href="faq.html">Faq</a></li>
                                <li><a href="faq-2.html">Faq - 2</a></li>
                            </ul>
                        </li>
                        <li><a href="static-page.html">Static Page</a></li>
                        <li><a href="404.html">404 - Error Page</a></li>
                        <li>
                            <a href="#">Shortcodes</a>
                            <ul>
                                <li><a href="shortcodes-typography.html">Typography</a></li>
                                <li><a href="shortcodes-element.html">Element</a></li>
                                <li><a href="shortcodes-component.html">Component</a></li>
                                <li><a href="shortcodes-layout-full-width.html">Layout - Full Width</a></li>
                                <li><a href="shortcodes-layout-left-sidebar.html">Layout - Left Sidebar</a></li>
                                <li><a href="shortcodes-layout-right-sidebar.html">Layout - Right Sidebar</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        
        </div><!--/.nav-collapse -->
        
        <div class="pull-right">
        
            <div class="navbar-mini">
                <ul class="clearfix">
                    <!-- <li class="dropdown bt-dropdown-click">
                        <a id="currency-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="ion-social-usd hidden-xss"></i> Dollar
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="currency-dropdown">
                            <li><a href="#"><i class="ion-social-usd"></i> Dollar</a></li>
                            <li><a href="#"><i class="ion-social-euro"></i> Europe</a></li>
                            <li><a href="#"><i class="ion-social-yen"></i> Yen</a></li>
                        </ul>
                    </li> -->
                    <li class="dropdown bt-dropdown-click">
                        <a id="language-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="ion-android-globe hidden-xss"></i> English
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="language-dropdown">
                            <li><a href="#">English</a></li>
                            <li><a href="#">France</a></li>
                            <li><a href="#">Japanese</a></li>
                        </ul>
                    </li>
                {% if user.is_authenticated %}
                <li class="dropdown bt-dropdown-click user-action">
                    <a class="btn btn-primary btn-inverse btn-loged-in dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="avatar" src="{%static 'images/man/01.jpg'%}" alt="image" />
                    {{user.email}} 
                     <span class="caret"></span></a> 
                    <ul class="dropdown-menu" aria-labelledby="language-dropdown">
                        <li><a href="{% url 'account:profile' %}">Profile</a></li>
                        <li><a href="{% url 'account:logout' %}">Logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="user-action">
                    <a  class="btn btn-primary btn-inverse" href="{% url 'account:register' %}">Sign up</a> 
                | 
                    <a  class="btn btn-primary btn-inverse" href="{% url 'account:login' %}">Log in</a> 
                </li>
                {% endif %}
                    
                </ul>
            </div>
            
        </div>
    
    </div>
    
    <div id="slicknav-mobile"></div>
    
</nav>